<div class="container" style="padding: 1em">
  <div class="text-center p-2">
    <img src="assets/images/main_2.png" alt="Smiley robot" height="80" width="80">
  </div>
  <p>Hello! This is the simple robot, who can help you find which way you can transfer altcoins between exchanges with a some profit.</p>
  <p>Select exchanges which you like, select minimal profit percent and press
    <span class='btc btn-success'>START</span>
  </p>
  <p>Result will be shown soon!</p>
  <p>Robot refresh exchange data every 5 minutes. So don't forget refresh information sometime)</p>
  <p>Good trade and luck!</p>
  <p>I hope you'll find this application useful)</p>
  <br>
  <div class="row">
      <div class="col text-center">
          <button [routerLink]="['/mainBoard']" class='btn-lg btn-primary px-5 py-2'> Go! </button>
      </div>
  </div>
  <br>
  <br>
  <div class="d-flex center">
    <img src="assets/images/avatarka.png" height="50" alt="avatarka" class="align-self-center">
    <div class="ml-3 align-self-center">
      <p class="mb-0">
        Any wishes about this site & service you can send to the developer
        <a href="mailto:vprihogenko@gmail.com">Vladimir Prihozhenko (vprihogenko@gmail.com)</a>
      </p>
    </div>
  </div>
</div>

